@model CourseCreateVM

@{
    ViewData["Title"] = "Create";
}

<div class="container my-5">
    <form asp-action="Create" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label class="my-2">Name</label>
            <textarea class="form-control" id="customFile" asp-for="Description"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div class="form-group">
            <label class="my-2">Sales</label>
            <textarea class="form-control" id="description-text" asp-for="Sales" rows="3"></textarea>
            <span class="text-danger" asp-validation-for="Sales"></span>
        </div>

        <div class="form-group">
            <label class="my-2">Description</label>
            <textarea class="form-control" id="description-text" asp-for="Header" rows="3"></textarea>
            <span class="text-danger" asp-validation-for="Header"></span>
        </div>

        <div class="form-group">
            <label class="my-2">Price</label>
            <input type="number" step=".01" class="form-control" id="customFile" asp-for="Price" />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        

        <div class="form-group">
            <label class="my-2">Category</label>
            <select class="form-control" id="customFile" asp-for="AuthorId" asp-items="@ViewBag.author"></select>
        </div>

        <div class="form-group">
            <label class="my-2" for="customFile">Images</label>
            <input class="form-control" id="customFile" asp-for="Photos" />
            <span class="text-danger" asp-validation-for="Photos"></span>
        </div>

        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>
</div>

@*
@section Scripts{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("description-text");
    </script>
}*@

